<div id="main">
    <div id="dialogueBox-container">
        <p id="narrative-text">
            {{question}}
        </p>
    </div>
    
    <div id="choices-container">
        <div class="choice-group">
            <button class="choice-buttons" onclick="choose(1)">{{c1}}</button>
            <button class="choice-buttons" onclick="choose(2)">{{c2}}</button>
        </div>
        <div class="choice-group">
            <button class="choice-buttons" onclick="choose(3)">{{c3}}</button>
            <button class="choice-buttons" onclick="choose(4)">{{c4}}</button>
        </div>
    </div>
</div>