<script type="module" src="/interview.js"></script>
<div id="main">
    <div id="dialogueBox-container">
        <p id="narrative-text">{{question}}</p>
    </div>
    
    <div id="choices-container">
        <div class="choice-group">
            <button class="choice-buttons">{{c1}}</button>
            <button class="choice-buttons">{{c2}}</button>
        </div>
        <div class="choice-group">
            <button class="choice-buttons">{{c3}}</button>
            <button class="choice-buttons">"{{c4}}</button>
        </div>
    </div>
</div>